<p>
  header works!
</p>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="width:1440px; background-color:bisque; height:20px;">
    <div style="width:300px;">
    <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">Daily Deals</a> -->
      Hi {{name}}
    <span aria-hidden="true">Daily Deals</span>
    <span aria-hidden="true">Help & Contact</span>
  </div>  
  </div>
  <div style="width:200px;">
    <span aria-hidden="true">Sell</span>
      <span aria-hidden="true">My Cryptobay</span>
      <img>
      <img id="shopping_cart" src="">
  </div>
</nav>
