<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <img src="{{listing.picture}}">
        </article>
        <article class="tile is-child notification">
          <div class="columns">
            <div class="column is-3">
              <img src="https://static.quickmobile.ro/cs-photos/products/thumb/smartphone-6-2-dual-sim-32gb-lte-4g-gri-3gb-ram_10029915_1_1496903858.jpg">
            </div>
            <div class="column is-2">
              <img src="https://static.quickmobile.ro/cs-photos/products/thumb/smartphone-6-2-dual-sim-32gb-lte-4g-gri-3gb-ram_10029915_1_1496903858.jpg">
            </div>
            <div class="column is-2">
              <img src="https://static.quickmobile.ro/cs-photos/products/thumb/smartphone-6-2-dual-sim-32gb-lte-4g-gri-3gb-ram_10029915_1_1496903858.jpg">
            </div>
            <div class="column is-2">
              <img src="https://static.quickmobile.ro/cs-photos/products/thumb/smartphone-6-2-dual-sim-32gb-lte-4g-gri-3gb-ram_10029915_1_1496903858.jpg">
            </div>
            <div class="column is-2">
              <img src="https://static.quickmobile.ro/cs-photos/products/thumb/smartphone-6-2-dual-sim-32gb-lte-4g-gri-3gb-ram_10029915_1_1496903858.jpg">
            </div>
            <div class="column is-2">
              <img src="https://static.quickmobile.ro/cs-photos/products/thumb/smartphone-6-2-dual-sim-32gb-lte-4g-gri-3gb-ram_10029915_1_1496903858.jpg">
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-vertical is-6">
        <article class="tile is-child notification">
          <p class="title">{{listing.title}}</p>
          <p class="subtitle">2013 HTC ONE Mint Condition</p>
          <div class="content" style="border-top-color: #dbdbdb;">
            <div>
              <p>Market Price: $300</p>
              <p>Asking Price: ${{listing.price}}</p>
              <p>AltCoin:</p>
              <a class="button" (Click)="AddtoCart()">Add to cart</a>
              <a class="button">Purchase Now</a>
            </div>
            <div>

              <p>Brand: HTC</p>
              <p>Condition: Like New</p>
              <p>Product Summary: {{listing.description}}
              </p>
              <p>Shipping: $7.99</p>
              <p>Expected Delivery Date: Tomorrow</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <p class="title">Expand Description</p>
        <p class="subtitle">-Replace with product extended product rescription</p>
        <div class="content">
          <section class="accordions">
            <article class="accordion is-active">
              <div class="accordion-header toggle">
                <p>Hello World</p>
              </div>
              <div class="accordion-body">
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit
                  amet fringilla. Nullam gravida purus diam, et dictum
                  <a>felis venenatis</a> efficitur. Aenean ac
                  <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor
                  ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-header">
                <p>Hello World</p>
                <button class="toggle" aria-label="toggle"></button>
              </div>
              <div class="accordion-body">
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit
                  amet fringilla. Nullam gravida purus diam, et dictum
                  <a>felis venenatis</a> efficitur. Aenean ac
                  <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor
                  ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-header">
                <p>Hello World</p>
                <button class="toggle" aria-label="toggle"></button>
              </div>
              <div class="accordion-body">
                <div class="accordion-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit
                  amet fringilla. Nullam gravida purus diam, et dictum
                  <a>felis venenatis</a> efficitur. Aenean ac
                  <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor
                  ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </div>
              </div>
            </article>
          </section>

        </div>
        <div class="tile is-parent is-vertical is-6">
            <article class="tile is-child notification">
              <p class="title">{{listing.title}}</p>
              <p class="subtitle">2013 HTC ONE Mint Condition</p>
              <div class="content" style="border-top-color: #dbdbdb;">
                  <div>
                      <p>Market Price: $300</p>
                      <p class="bitprice"></p>
                      <p>Asking Price: ${{listing.price}}</p>
                      <p class="coin">AltCoin:</p>
                      <a class="button">Add to cart</a>
                      <a class="button">Purchase Now</a>
                  </div>
                  <div>

              </div>
              <div>

                <p>Brand: HTC</p>
                <p>Condition: Like New</p>
                <p>Product Summary: {{listing.description}}
                </p>
                <p>Shipping: $7.99</p>
                <p>Expected Delivery Date: Tommorrow</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </article>
  </div>
  <div class="content">
    <p class="title">Seller:</p>
    <a href="user/id">
      <p class="subtitle">--replace with user name--</p>
    </a>
    <p>Average postive feedback: 79%</p>
    <div class="content">
      <p>
        <a href="#">Save this seller</a>
      </p>
      <p>
        <a href="#">Contact</a>
      </p>
    </div>
  </div>
  

</div>